body {
  font-family: 'Fira Code', monospace;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
}
.starter {
  width: 100%;
}

/* -------------------------------------------Carousel --------------------------------------------------------*/

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  width: 100%;
  flex-shrink: 0;
}

.carousel-track img {
  width: 100%;
  height: auto;
}

.carousel-dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #333;
}

/* -------------------------------------------- NavBar ---------------------------------------------------- */

.navigation {
  background-color: #faf6ed;
  padding: 10px 10px 10px 10px;
}

.navigation nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.kilta:hover {
  color: #fbbebd;
}

.left-section img {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}

.kilta {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  flex-wrap: wrap;
  padding-right: 1%;
}

.right-section ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.right-section li {
  font-size: 1.1rem;
}

.right-section li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.right-section li a:hover {
  color: #fbbebd;
}

.jasen_nappi {
  background-color: #fbbebd;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
}

.jasen_nappi:hover {
  background-color: #c9bcba;
}

.bm-burger-button {
  position: relative !important;
  width: 36px !important;
  height: 30px !important;
  z-index: 3 !important;
  display: none;
  border-radius: 5px;
  background: rgb(209, 196, 196);
}

.bm-overlay {
  background: none !important;
}

#react-burger-menu-btn {
  width: 36px !important;
  height: 30px !important;
  z-index: 1000 !important;
}

.bm-menu {
  background: #faf6ed;
  font-size: 1.15em;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  border-color: #000000;
  border-style: solid;
  border-radius: 2px;
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.bm-item {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

.liityjaseneksiAnim {
  width: 15em;
  right: 100px;
  display: inline-block;
  height: 5em;
  flex: 2;
}
.nav-diamond-collabs {
  text-align: center;
}

/* ------------------------------------------------------------------------------------------------ */

/* -------------------------------------------- Etusivu ---------------------------------------------------- */

.social img {
  width: 25px;
  height: 25px;
  padding-top: 5%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-info {
  width: 90%;
}

.container p {
  font-size: 1.1rem;
  font-weight: bold;
}

.diamond-partners {
  font-size: 1.1rem;
  display: flex;
  border-radius: 8px;
  font-weight: bold;
  gap: 10px;
  align-items: center;
}

.google-calendar {
  border-radius: 20px;
  width: 100%;
  min-height: 600px;
}

/* ------------------------------------------------------------------------------------------------ */

.collab-container h2 {
  font-size: large;
  text-align: center;
  background-color: #fbbebd;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
}

.collab-container-flex {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  text-align: center;
  border-style: solid;
  padding: 20px;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
  border-color: #000000;
  justify-content: center;
}

.collab-logos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.collab-logo {
  width: 300px;
  object-fit: contain;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.collab-logo:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(218, 149, 149, 0.2);
}

/* -------------------------------------- Footer-Bar ---------------------------------------------------------- */

.feedback-comms {
  display: flex;
  margin-left: 2%;
}

.feedback {
  flex: 1;
}

.feedback h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feedback p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #767373;
}

.feedback a {
  color: #fbbebd;
  text-decoration: none;
}

.feedback a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #1a1a1a;
  color: white;
  padding: 20px 0;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  margin-left: 2%;
}

.footer-info {
  font-size: 1rem;
}

.footer-info p {
  color: #a19d9d;
}

.footer-info h3 {
  margin-bottom: 5px;
}

.footer-nav {
  margin-left: 2%;
}

.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 5rem;
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.footer-nav li {
  margin-bottom: 8px;
}

.footer-nav a {
  color: #a19d9d;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

/* ------------------------------------------------------------------------------------------------ */

/* -------------------------------------- Linkit ---------------------------------------------------------- */
a {
  color: #000000;
  text-decoration: underline;
}

.bm-li a {
  text-decoration: none;
}
.bm-li a:hover {
  color: #fbbebd;
}
/* ------------------------------------------------------------------------------------------------ */
.event-card-button button {
  background-color: #fbbebd;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
}

.event-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.event-card {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  background: #ffffff;
  box-shadow: 2px 2px 10px #fccac9;
  transition: transform 0.2s;
  overflow-wrap: break-word;
}

.event-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.event-card:hover {
  transform: scale(1.05);
}

body.modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  overflow: scroll;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #faf6ed;
  padding: 50px;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  width: 30%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  max-height: 89vh;
  z-index: 1000;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.modal-image {
  width: 40%;
  border-radius: 5px;
}

.modal-tickets {
  font-size: 1rem;
}

/* -------------------------------------  DropDown- menu  ------------------------------------------------------------- */
.arrow {
  position: relative;
  top: 4px;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  background-color: #faf6ed;
  color: #000000;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.dropdown-button:hover {
  background-color: #faf6ed;
  color: #fbbebd;
}

.dropdown-content {
  position: absolute;
  background-color: #322c2b;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  width: 700px;
}

.dropdown-section {
  margin-right: 20px;
}

.dropdown-section-header {
  color: #faf6ed;
  font-weight: bold;
  padding: 10px 10px 10px 15px;
}

.dropdown-section-items {
  display: block;
}

.dropdown-section-items a {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: #fbbebd;
}

.dropdown-section-items a:hover {
  background-color: #555;
  border-radius: 10px;
}

/* ----------------------------------------CollabPage------------------------------------------------------- */

.ansiomerkit-container h1,
.Lakki-container h1,
.Vuju-container h1,
.Freshman-container h1 {
  background-color: #fbbebd;
  width: 30%;
  position: relative;
  margin: 0 auto;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
}

.event-container {
  padding: 0 0 10px 10px;
}
/*-----------------------------------------------------FreshmanPage------------------------------------------------------------------------*/

.Freshman-container {
  color: black;
  background-color: white;
  align-items: center;
}

.fuksi-leveys {
  width: 70%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  height: 400px;
}

.Freshman-container h1 {
  padding: 11px 11px 11px 11px;
  background-color: #fbbebd;
  color: inherit;
  font-size: 1.5rem;
  width: 100%;
}

.Freshman-container ul {
  list-style: none;
  padding: 0;
}

.Freshman-container li {
  padding: 15px 0 15px 0;
  margin: 10px 0;
}

.Freshman-container a {
  color: pink;
  text-decoration: none;
  font-weight: bold;
}

.Freshman-container a:hover {
  text-decoration: underline;
}

.panuAnim {
  width: 20em;
  right: 100px;
  height: 20em;
  display: inline-block;
}

/* ---------------------------------Ansiomerkit----------------------------------------------------------- */

.ansiomerkit-container p {
  padding: 3%;
  font-size: 1.12rem;
}

/* --------------------Overall-Page--------------------------------------------------------------------------- */

.OverAll-container {
  border-radius: 2px;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.OverAll-container h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

.OverAll-container li {
  list-style-type: circle;
}

.OverAll-container ul {
  line-height: 30px;
  position: relative;
  justify-content: center;
}

.collab-h1 {
  text-align: center;
  background-color: #fbbebd;
  padding: 10px;
  width: fit-content;
  font-size: larger;
  border-radius: 10px;
  margin: 0 auto;
}

.collabs-logos-h3 {
  text-align: center;
  padding-left: 0 !important;
}

.collab-container h3 {
  text-align: center;
  background-color: #fbbebd;
  width: fit-content;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 8px;
  font-size: medium;
  height: fit-content;
}

/* -------------------------------LakkiC+ vuju-container--------------------------------------------------------------- */

.Lakki-container p,
.Vuju-container p,
.hakijalle-container p {
  line-height: 35px;
  position: relative;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  border-radius: 2px;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.collab-container {
  width: 70%;
  margin: 0 auto;
}

.collab-container p {
  line-height: 35px;
  position: relative;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  border-radius: 2px;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.hakijalle-container li {
  list-style-type: disc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hakijalle-container li li {
  list-style-type: circle;
  padding-bottom: 10px;
  padding-top: 10px;
}

.Lakki-container h2,
.Vuju-container h2,
.pyt-kirja-container h2 {
  text-align: center;
  background-color: #fbbebd;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
}

.Lakki-container img {
  width: 100%;
}
/* ------------------------------------------------------------------------------------------------ */

.pyt-kirja-container {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.pytkirja-render {
  padding-top: 10px;
}

.tutor-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.tutor-info {
  max-width: 100%;
  line-height: 25px;
}

.tutor-container img {
  width: 250px;
  height: auto;
  padding-top: 20px;
}

.tutor-name {
  margin: 0 0 10px 0;
}

/*----------------------------------------------------------*/

.hallitus {
  padding: 30px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.hallitus h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
  background-color: #fbbebd;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  padding: 30px;
}

.hallitus-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.hallitus-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 8px 8px 4px #fbbebd;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.hallitus-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.hallitus-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: border-radius 0.3s ease;
}

.hallitus-card .rounded {
  border-radius: 50%;
}

.hallitus-card h2 {
  font-size: 1.3rem;
  margin: 15px 0;
  color: #333;
}

.hallitus-card p {
  font-size: 1rem;
  color: #555;
}

.hallitus-card strong {
  font-weight: bold;
  color: #333;
}

.hallitus-card a {
  color: #fbbebd;
  text-decoration: none;
}

.hallitus-card a:hover {
  text-decoration: underline;
}

.hidden-button {
  cursor: auto;
  opacity: 0;
  padding: 20px;
}

.hallitus-pesti-info {
  text-align: center;
  border-radius: 2px;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
  width: 68.3%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 30px;
}

.hakijalle-container {
  width: 70%;
  margin: 0 auto;
}

.hakijalle-container h3 {
  background-color: #fbbebd;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}

/*----------------------------------------------------------*/

.prev-hallitus h3 {
  margin-left: 20%;
}

.prev-hallitus-info {
  margin-left: 20%;
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}

.prev-hallitus-info img {
  width: 400px;
  height: auto;
}

/*----------------------------------------------------------*/

.kunnia-container,
.saannot-container,
.seloste-container,
.periaate-container,
.yhteydenotto-container,
.kansainvalisyys-container {
  width: 70%;
  margin: 0 auto;
}

.periaate-container h3 {
  background-color: #fbbebd;
  padding: 10px;
  border-radius: 10px;
  font-size: medium;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.kunnia-container p {
  color: #767373;
  line-height: 30px;
  border-radius: 2px;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.kunnia-container h2 {
  font-size: 1.5rem;
  padding: 10px;
  background-color: #fbbebd;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}

.kunnia-container ul {
  list-style: none;
  padding: 0;
  font-size: large;
}

.vuoden-algolainen {
  display: flex;
  gap: 15px;
}

.vuoden-algolainen ul .kunnia-container li,
.periaate-container li,
.aktiivi-pestit li {
  padding: 8px 0 8px 0;
}

.perustaja {
  color: #767373;
}

.perustaja li {
  padding: 10px;
}

.perustaja-flex {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.saannot-container p,
.seloste-container p,
.yhteydenotto-container p,
.kansainvalisyys-container p {
  line-height: 30px;
  font-size: 0.9rem;
  border-radius: 2px;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.periaate-container p {
  line-height: 30px;
  font-size: 0.9rem;
  border-radius: 2px;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.periaate-container ul {
  font-size: 0.9rem;
  line-height: 20px;
  border-radius: 2px;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.saannot-container h1,
.seloste-container h1,
.periaate-container h1,
.kansainvalisyys-container h1,
.yhteydenotto-container h1,
.hakijalle-container h2 {
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  background-color: #fbbebd;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
}
.yhteydenotto-container h1 {
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  background-color: #fbbebd;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
}

aktiivi-pestit ul {
  padding-left: 20px;
  font-size: 0.9rem;
  line-height: 20px;
}

.kansainvalisyys-container p {
  color: #767373;
  line-height: 30px;
  font-size: 0.9rem;
}

.kv-container-starter {
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
}

.kansainvalisyys-container h3 {
  background-color: #fbbebd;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
}

.kansainvalisyys-container ul {
  color: #1a1a1a;
  list-style-type: dis;
  line-height: 30px;
  padding-bottom: 20px;
  font-size: 0.9rem;
}

.kansainvalisyys-container li li {
  list-style: disc;
  font-size: 0.9rem;
}

.aktiivi-container,
.aktiivi-container-merkit {
  width: 70%;
  margin: 0 auto;
}

.aktiivi-container-merkit h2 {
  background-color: #fbbebd;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.aktiivi-container-merkit img {
  width: 25%;
}

.aktiivi-consent {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  background-color: #322c2b;
  border: #000;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #faf6ed;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
}

.aktiivi-consent button {
  background-color: #fbbebd;
}

.aktiivi-consent a {
  text-decoration: none;
}

.aktiivi-kuva-container {
  display: flex;
  gap: 30%;
}

.aktiivi-kuva-container p {
  line-height: 30px;
  width: 30%;
  height: fit-content;
  border-radius: 2px;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: relative;
  left: 10%;
  top: 55px;
}

.juho-container p {
  width: fit-content;
  left: 0;
  top: 0;
}

.aktiivi-pestit {
  padding: 20px;
  border-radius: 2px;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
}

/*----------------------------------------------------------*/

@media (min-width: 2300px) {
  .footer-nav ul {
    gap: 17rem;
  }
}

@media (min-width: 2000px) and (max-width: 2299px) {
  .footer-nav ul {
    gap: 13rem;
  }
}

@media (min-width: 1801px) and (max-width: 1999px) {
  .footer-nav ul {
    gap: 10rem;
  }
}

@media (min-width: 1701px) and (max-width: 1800px) {
  .footer-nav ul {
    gap: 7rem;
  }
}

@media (min-width: 1501px) and (max-width: 1700px) {
  .footer-nav ul {
    gap: 3rem;
  }
}

@media (max-width: 1500px) {
  .footer-nav ul {
    gap: 2rem;
  }
}

@media (max-width: 1100px) {
  .perustaja-flex {
    flex-direction: column;
  }

  .navigation {
    position: relative;
  }

  .right-section {
    display: none;
  }

  .bm-burger-button {
    display: block;
  }

  .dropdown-button {
    padding: 0;
    font-weight: 100;
  }

  .dropdown-content {
    font-size: 0.8rem;
    display: block;
    width: 240px;
    overflow: scroll;
    height: 550px;
  }

  .dropdown-section {
    margin-bottom: 2px;
  }

  .dropdown-section-header {
    display: block;
    margin-bottom: 2px;
  }

  .jasen_nappi {
    margin-top: 3%;
  }

  .jasen_nappi a {
    text-decoration: none;
  }

  .footer {
    justify-content: center;
    text-align: center;
  }

  .footer-content {
    font-size: 0.8rem;
    flex-direction: column;
  }

  .footer-nav ul {
    flex-direction: column;
    gap: 1px;
  }

  .feedback-comms {
    flex-direction: column;
    font-size: 0.8rem;
  }

  .feedback-comms p {
    font-size: 0.8rem;
  }

  .feedback h3 {
    font-size: 1rem;
  }

  .footer-info {
    font-size: 0.8rem;
  }

  .prev-hallitus h3 {
    margin-left: 10%;
  }

  .prev-hallitus-info {
    margin-left: 10%;
    gap: 10px;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .tutor-container {
    flex-direction: column;
    padding: 10px;
  }

  .hallitus-pesti-info {
    padding: 20px;
    font-size: small;
  }

  .panuAnim {
    width: 12em;
    height: 14em;
  }

  .Freshman-container h1 {
    font-size: 1.5rem;
  }

  .aktiivi-kuva-container {
    flex-direction: column;
    gap: 50px;
  }

  .aktiivi-kuva-container p {
    width: 70%;
    padding: 20px;
  }

  .juho-container {
    padding-top: 20%;
    padding-bottom: 20%;
    margin: 0 auto;
  }

  .bm-item-list {
    padding: 0;
  }

  .hallitus-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .hallitus-card h2 {
    font-size: medium;
  }
  .hallitus-card p {
    font-size: smaller;
  }

  .collab-container-flex {
    flex-direction: column;
    margin: 0 auto;
    gap: 0;
  }

  .collab-container-flex h4 {
    font-weight: normal;
    font-size: smaller;
  }
}
@media (max-width: 780px) {
  .prev-hallitus h3 {
    margin-left: 10%;
  }

  .prev-hallitus-info {
    margin-left: 10%;
    gap: 10px;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .tutor-container {
    flex-direction: column;
    padding: 10px;
  }

  .body {
    overflow: hidden;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .container p {
    font-size: medium;
  }

  .hallitus h1,
  .saannot-container h1,
  .seloste-container h1,
  .kunnia-container h2,
  .yhteydenotto-container h1,
  .kansainvalisyys-container h1 {
    width: fit-content;
    font-size: larger;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
  }

  .Lakki-container h1 {
    width: fit-content;
    font-size: larger;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
  }

  .header {
    flex-direction: column;
    height: auto;
  }

  .header h1 {
    font-size: larger;
    width: 100%;
  }

  .header p {
    font-size: small;
    padding-left: 10px;
  }

  .aktiivi-container h2 {
    font-size: larger;
    padding-top: 20px;
    padding-left: 25px;
  }

  .aktiivi-pestit {
    font-size: smaller;
    padding: 0;
    margin: 0;
  }

  .aktiivi-pestit li {
    padding: 2px 2px 2px 0;
  }

  .saannot-container p,
  .Lakki-container p,
  .OverAll-container p,
  .seloste-container p,
  .kunnia-container p,
  .periaate-container p,
  .yhteydenotto-container p,
  .kansainvalisyys-container p,
  .Freshman-container p,
  .collab-container p {
    font-size: 0.7rem;
  }

  .Freshman-container h2 {
    font-size: medium;
    background-color: #fbbebd;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
  }
  .OverAll-container h2 {
    font-size: medium;
    padding: 10px;
  }

  .OverAll-container ul {
    left: 10px;
    width: fit-content;
    font-size: small;
  }

  .periaate-container ul,
  .Freshman-container ul {
    font-size: 0.7rem;
  }

  .kunnia-container ul {
    font-size: small;
    padding-left: 10px;
  }

  .vuoden-algolainen {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .kansainvalisyys-container ul {
    font-size: small;
    padding-left: 20px;
  }

  .tutor-info p {
    font-size: 0.7rem;
    hyphens: auto;
  }

  .kunnia-container h2 {
    margin-bottom: 20px;
  }

  .modal-content {
    width: 50%;
    font-size: small;
  }

  .modal-content p,
  .modal-tickets {
    font-size: smaller;
  }

  .event-card {
    width: 40%;
    max-width: 200px;
  }

  .collab-logos-container {
    flex-direction: row;
  }

  .hakijalle-container p {
    font-size: 0.7rem;
    line-height: 25px;
  }

  .hakijalle-container li {
    font-size: 0.7rem;
    line-height: 20px;
  }

  .hallitus-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 2fr));
  }
  .hallitus-card h2 {
    font-size: smaller;
  }
  .hallitus-card p {
    font-size: small;
  }

  .hallitus-card {
    width: 80%;
    margin: 0 auto;
  }

  .hallitus-pesti-info {
    font-size: small;
  }
}
